.segunda-lista li {
  font: #000008; }

/*html-envios*/
.div-main-envios {
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  list-style: none; }

.p-env {
  font-size: 1.4em; }

.mb-3 {
  font-family: 'Grape Nuts', cursive;
  font-size: 1.5em;
  font-weight: 600;
  list-style: none; }

.form-label {
  display: flex;
  align-items: flex-start;
  text-align: left; }

.form-label-l {
  display: flex;
  align-items: flex-start;
  text-align: left; }

.p-env {
  display: inline;
  flex-direction: row; }

h5 {
  font-size: 1.5em;
  font-weight: 600; }

.modal-header {
  background-color: #46a9bb; }
  .modal-header .btn-primary {
    width: 100px;
    height: 50px;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
    padding-top: 5px; }

/* Contenedor padre del grid*/
.div-contenedor {
  display: grid;
  grid-template-areas: "header" "nav " "main" "footer"; }
  .div-contenedor .div-header {
    grid-area: header; }
  .div-contenedor .div-nav {
    grid-area: nav; }
  .div-contenedor .div-main {
    grid-area: main; }
  .div-contenedor .div-footer {
    grid-area: footer; }

header {
  background: #26f20f;
  background: linear-gradient(180deg, #26f20f 41%, rgba(255, 255, 255, 0.927609) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  font-weight: 600;
  background-color: green; }
  header h1 {
    font-size: 1.7em;
    font-family: 'Grape Nuts', cursive;
    font-weight: 650px; }
  header h2 {
    font-size: 1em;
    font-weight: 600px;
    text-align: center;
    margin-left: .5px;
    margin-right: .5px; }

.collapse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Grape Nuts', cursive;
  font-weight: 600px;
  font-size: 1em;
  margin-left: 5px;
  list-style: none; }

.segunda-lista li {
  font: black;
  font-size: 1em;
  font-weight: 600;
  font-family: 'Grape Nuts', cursive;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  justify-content: space-evenly;
  padding-left: .5px;
  padding-right: .5px;
  margin-left: .5px;
  margin-right: .5px;
  border: .5px; }
  .segunda-lista li img {
    max-width: 350px;
    max-height: 350px; }

.main-ind {
  background-image: url(img/comercio.jpeg);
  font-weight: 500;
  color: yellow; }

.links--inicio img {
  width: 50px;
  height: 50px; }

.links--frutas {
  color: black;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  text-align: none;
  list-style-type: none;
  margin: 3px;
  padding: 6px; }

.links--verduras {
  color: black;
  font-size: 1em;
  font-weight: 600;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin: 3px;
  padding: 6px; }

.links--envasados {
  color: black;
  font-size: 1em;
  font-weight: 600;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin: 3px;
  padding: 6px; }

.envios {
  background-image: url(img/envios.jpeg);
  background-attachment: fixed;
  background-size: contain;
  font: black;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Grape Nuts', cursive;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between; }

.envios-h3 {
  font: black;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Grape Nuts', cursive; }

.links--envios {
  display: flex;
  color: black;
  font-size: 1em;
  font-weight: 700;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin: 3px;
  padding: 6px; }

p {
  font-family: 'Grape Nuts', cursive;
  font-size: 1.5em;
  font-weight: 700;
  padding-left: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 650px; }

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: auto;
  background-color: burlywood;
  border-style: solid;
  border: width 3em;
  color: black;
  max-height: 260px; }
  .carousel-inner img {
    margin: auto;
    max-height: 250px;
    max-width: 350px; }

h2 {
  font-size: 1em;
  font-family: 'Grape Nuts', cursive;
  text-align: center; }

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: black;
  background: linear-gradient(45deg, black 41%, #2231b4 100%);
  max-height: 180px;
  color: whitesmoke;
  padding: 55px; }
  footer .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none; }
    footer .redes .circulo {
      width: 25px;
      height: 25px;
      padding-right: 5px; }
    footer .redes .circulo-w {
      width: 32px;
      height: 25px;
      padding-left: 5px; }
    footer .redes .pagination {
      display: flex;
      align-items: center;
      justify-content: end;
      margin-right: 10px;
      font-family: 'Grape Nuts', cursive;
      list-style-type: none; }

@media screen and (min-width: 425px) {
  header {
    background: white;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.591474) 0%, #42b422 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    font-weight: 600;
    background-color: green; }
    header h1 {
      font-size: 2.2em;
      font-family: 'Grape Nuts', cursive;
      font-weight: 600; }
    header h2 {
      font-size: 1em;
      font-weight: 600;
      text-align: center;
      margin-left: .5px;
      margin-right: .5px; }
  .segunda-lista li {
    font: black;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Grape Nuts', cursive;
    text-decoration: none;
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
    padding-left: .5px;
    padding-right: .5px;
    margin-left: .5px;
    margin-right: .5px;
    border: .5px; }
  .nav-links {
    display: inline;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .links--inicio {
    display: flex;
    color: black;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    text-align: none;
    list-style-type: none;
    margin: 2px;
    padding: 2px; }
  .links--inicio img {
    width: 50px;
    height: 50px; }
  .links--frutas {
    font-size: 1em;
    font-weight: 600; }
  .links--verduras {
    font-size: 1em;
    font-weight: 600; }
  .links--envasados {
    font-size: 1em;
    font-weight: 600; }
  .div-main-envios {
    background-image: url(img/envios.jpeg);
    font-size: 1em;
    font-weight: 700;
    font-family: 'Grape Nuts', cursive; }
  .envios-h3 {
    font-size: 1em;
    font-weight: 700;
    font-family: 'Grape Nuts', cursive; }
  .links--envios {
    font-size: 1em;
    font-weight: 700; }
  p {
    padding-left: 0px; }
  h2 {
    text-align: center; }
  .div-main-envios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none; }
    .div-main-envios form {
      font-family: 'Grape Nuts', cursive;
      font-size: 1.5em;
      font-weight: 600;
      list-style-type: none; }
    .div-main-envios .envios-h3 {
      font-size: 2em; } }

@media screen and (min-width: 650px) {
  .collapse {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Grape Nuts', cursive;
    font-weight: 600px;
    font-size: 1em;
    margin-left: 10px;
    list-style: none; } }

@media screen and (min-width: 1024px) {
  header {
    background: #97f73e;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.591474) 0%, #42b422 50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    font-weight: 600; }
    header .div-header {
      font-size: 4em;
      font-family: 'Grape Nuts', cursive;
      color: #030303;
      transition-property: all;
      transition-duration: 1.2s;
      transition-delay: 1;
      transition-timing-function: ease; }
      header .div-header h1 {
        font-size: 4em;
        font-family: 'Grape Nuts', cursive;
        color: #030303;
        transition-property: all;
        transition-duration: 1.2s;
        transition-delay: 1;
        transition-timing-function: ease; }
        header .div-header h1:hover {
          transform: scale(1.2);
          color: whitesmoke; }
        header .div-header h1 img {
          animation-name: imag;
          animation-iteration-count: 1;
          animation-duration: 2s;
          animation-timing-function: ease;
          animation-delay: .5s; }
  @keyframes imag {
    0% {
      transform: translateX(500px);
      opacity: 0; }
    50% {
      opacity: .5; }
    100% {
      transform: translateX(0px);
      opacity: 1; } }
  nav {
    background: #7e7bdb;
    background: radial-gradient(circle, #7e7bdb 0%, white 100%);
    height: 75px; }
    nav .collapse {
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      font-family: 'Grape Nuts', cursive;
      font-weight: 600px;
      font-size: 1em;
      margin-left: 10px;
      list-style: none; }
  h2 {
    display: flex;
    font-size: 1.8em;
    margin-right: 8px; }
  .segunda-lista li {
    display: inline;
    flex-direction: row;
    font-size: 1.3em;
    font-weight: 700;
    color: whitesmoke;
    padding: left 15px;
    padding: right 15px;
    margin-right: 10px;
    margin-left: 5px; }
  .links--inicio {
    font-size: 2em;
    font-weight: 600;
    margin: 2px;
    padding: 2px; }
    .links--inicio img {
      width: 75px;
      height: 75px; }
  .links--frutas {
    font-size: 2em;
    font-weight: 600; }
  .links--verduras {
    font-size: 2em;
    font-weight: 600; }
  .links--envasados {
    font-size: 2em;
    font-weight: 600; }
  .envios-h3 {
    font-size: 1.8em;
    font-weight: 700;
    text-align: left; }
  .links--envios {
    font-size: 2em;
    font-weight: 700; }
  h4 {
    display: flex;
    flex-direction: row;
    font-family: 'Grape Nuts', cursive;
    font-size: 2em;
    font-weight: 700;
    text-align: justify;
    padding-top: 20px; }
  /*html-index*/
  .principal-ind {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 1200px;
    height: 800px;
    background-image: url(img/comercio.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Grape Nuts', cursive;
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    padding: 15px; }
  /*html-frutas*/
  .frutas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Grape Nuts', cursive;
    font-size: 1.4em;
    font-weight: 700;
    padding: 15px; }
  .verduras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: #42b422;
    background: linear-gradient(90deg, #42b422 0%, #1b0505 100%);
    font-family: 'Grape Nuts', cursive;
    color: white;
    font-size: 1.3em;
    font-weight: 700;
    padding: 15px; }
    .verduras .verd-baby {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      font-family: 'Grape Nuts', cursive;
      font-size: 1.4em;
      font-weight: 700;
      padding: 15px; }
    .verduras .verd-papines {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      background: #42b422;
      background: linear-gradient(90deg, #42b422 0%, #1b0505 100%);
      font-family: 'Grape Nuts', cursive;
      color: white;
      font-size: 1.4em;
      font-weight: 700;
      padding: 35px; }
  p {
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 25px; }
  .carousel-inner {
    background: #d4d6dd;
    background: linear-gradient(90deg, #2132f6 1%, #f2f9f9 50%, #6262f0 99%);
    border-style: solid;
    border: width 3em;
    color: black;
    max-height: 660px;
    margin: auto;
    max-height: 450px;
    max-width: 650px; }
    .carousel-inner img {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 400px;
      max-height: 400px; }
  /*envasados*/
  .envasados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Grape Nuts', cursive;
    font-size: 1.4em;
    font-weight: 700;
    padding: 15px; }
    .envasados p {
      font-size: 1.1em;
      font-weight: 700;
      padding-left: 25px; }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: black;
    background: linear-gradient(45deg, black 41%, #2231b4 100%);
    max-height: 100px;
    color: whitesmoke;
    padding: 55px; }
    footer .redes {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      list-style-type: none;
      padding: 15px; }
      footer .redes .circulo {
        width: 50px;
        height: 50px;
        padding: 8px;
        border-radius: 150px;
        transition-property: all;
        transition-duration: 1.2s;
        transition-delay: 1;
        transition-timing-function: ease; }
      footer .redes .circulo:hover {
        transform: scale(1.5); }
      footer .redes .circulo-w {
        width: 50px;
        height: 50px;
        padding: 8px;
        border-radius: 150px;
        transition-property: all;
        transition-duration: 1.2s;
        transition-delay: 1;
        transition-timing-function: ease; }
      footer .redes .circulo-w:hover {
        transform: scale(1.5); } }

@media screen and (min-width: 1200px) {
  main {
    background-color: #d6d6ae; } }
